body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85em;
  display: block;
}

button {
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: #ffffff;
  background-color: #666666;
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  padding: 4px;
  overflow-wrap: break-word;
}

th {
  height: 25px;
  background-color: #999999;
  color: #ffffff;
  font-size: 2.2em;
}

.card, td {
  height: 125px;
  width: 125px;
}

.freesquare {
  background-image: url("https://imgc.allpostersimages.com/img/print/u-g-PZLW040.jpg?w=550&h=550&p=0");
  background-size: 150px 125px;
  background-position: center;
  position: relative;
}

.freesquare:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    text-align: center;
}

.FREE {
    color: #000;
    position: relative;
    font-size: 2.4em;
    padding: 10px;
}

.bingo-square {
  overflow-wrap: break-word;
}

.content {
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 10px;
}
